*~
Bomberman_x86_win.exe
Bomberman_unix

/obj
/bin

/src/*
!/src/*.cpp
!/src/*.h
!/src/*.txt

/data/*.png
/data/*.xcf
/data/old_sprites
!/data/about.png
!/data/bg.png
!/data/bgmenu.png
!/data/options.png